.page {
    border: solid;
    border-color: black;
    border-width: 1px;
    margin: auto;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 900px;
}

.photo {
    background-image: url("../images/space_elevator.jpg");
    background-size: cover;
    height: 200px;
    opacity: 0.6;
    margin: 20px;
}

.name {
    font-size: 6em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-family: 'Vampiro One', cursive;
}

.border-top {
    border-top: solid;
    border-width: 0.5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: lightgrey;
}

.border-bottom {
    border-bottom: solid;
    border-width: 0.5px;
    /*padding-top: 5px;*/
    padding-bottom: 5px;
    border-color: lightgrey;
}

.no-padding-left {
    padding-left: 0;
}

.heading {
    font-size: 1.5em;
    padding-left: 0;
    color: cornflowerblue;
    padding-bottom: 5px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.hover {
    color: black;
}

.hover:hover {
    color: #c94caa;
}

.grey {
    color: grey;
}

.grey:hover {
    color: #c94caa;
    text-decoration: none;
}

.hover-img img:hover {
    opacity:0.7;
}

.dan {
    margin: 10px;
    opacity: 0.8;
}

i {
    padding-right: 5px;
}

.social {
    padding: 5px;
}

.social a:hover {
    color: #c94caa;
    text-decoration: none;
}

.progress {
    height: 10px;
}

.skill {
    margin-bottom: 4px;
}

.skill-title {
    color: #c94caa;
}

.padding-top {
    padding-top: 20px;
}

.indent {
    text-indent: 10px;
}